*{margin:0;padding:0;box-sizing: border-box;}

.btn{border:none;cursor: pointer;outline: none;}

body{
    background:#ccc;
    font-size: 16px;
}
#top_wrapper{
    direction: rtl;
    text-align: right;
    max-width: 500px;
    margin: 0 auto;
    overflow: hidden;
    font-family: sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 10px 25px;
    box-shadow: 0px 0px 15px 0px;
    position: relative;
    background: #ffb76b; /* Old browsers */
    background: -moz-linear-gradient(top, #ffb76b 0%, #ffa73d 28%, #ff7f04 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffb76b 0%,#ffa73d 28%,#ff7f04 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffb76b 0%,#ffa73d 28%,#ff7f04 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb76b', endColorstr='#ff7f04',GradientType=0 ); /* IE6-9 */
}
header h1{font-weight: 300;margin: 0 22px;}
header .btn{
    padding: 10px;
    border-radius: 5px;
    transition: 3s all;
    background: rgb(245,246,246); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(245,246,246,1) 0%, rgba(219,220,226,1) 36%, rgba(184,186,198,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(245,246,246,1) 0%,rgba(219,220,226,1) 36%,rgba(184,186,198,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(245,246,246,1) 0%,rgba(219,220,226,1) 36%,rgba(184,186,198,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#b8bac6',GradientType=0 ); /* IE6-9 */
}
header .btn:hover{
    background: rgb(184,186,198); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(184,186,198,1) 0%, rgba(219,220,226,1) 64%, rgba(245,246,246,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(184,186,198,1) 0%,rgba(219,220,226,1) 64%,rgba(245,246,246,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(184,186,198,1) 0%,rgba(219,220,226,1) 64%,rgba(245,246,246,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8bac6', endColorstr='#f5f6f6',GradientType=0 ); /* IE6-9 */
}
header .btn .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid #000;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    font-size: 25px;
}
footer{
    display: flex;
    background: #fff;
    padding: 4px 30px;
    justify-content: space-between;
}
footer .number{font-weight: 600;}

.task{
    display: grid;
    grid-template-columns: 10% 85% 5%;
    align-items: center;
    padding: 0.8em;
    border-bottom: 2px solid #000;
    transition: 0.5s all;
}
.task:hover{
  background: #aeaba847;
}
.task .task-text{font-size: 1.1em;}
.task input[type="checkbox"]{cursor: pointer;}
.task.completed .task-text{
    text-decoration:line-through;
    color: #9f9e9e;
}
#tasks_wrapper{
    max-height: 520px;
    min-height: 480px;
    height: 100vh;
    margin-top: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
    border-right: 1px solid #beb8b8;
}
#tasks_wrapper>:nth-child(odd){
    background: #e1ddcf;
}
#tasks_wrapper>:nth-child(even){
    background: #e4e5d2;
}

.task .btn{
    background: transparent;
    width: 25px;
    border: none;
    font-size: 1.6em;
    font-weight: bold;
    color: #070707b3;
    color: #000;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: 0.2s all;
}
.task .btn:hover{
    color: #000;
    color: #c61010;
    border-color: #c61010;
}

.checkbox {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: relative;
    display: block;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border: 1px solid #a9a7a7;
    border-radius: 4px;
    transition: 0.2s all;
}
.checkmark:hover,
.checkbox input:checked ~ .checkmark {
    background-color: #7e7979;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox input:checked ~ .checkmark:after {
    display: block;
}

.checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 3px;
    height: 9px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.no-tasks{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-size: 2.3em;
    min-height: 100%;
    max-height: 100%;
}
.no-tasks .icon{
    font-size: 1.8em;
}

#note_wrapper{
    position:fixed;
    bottom:0;
    display:flex;
    flex-direction: column-reverse;
}
#note_wrapper .note{
    background: #ccc;
    margin: 5px 0;
    opacity: 0;
    transition: opacity 1s ease;
    padding: 5px 10px;
    color: #fff;
}
#note_wrapper .note.error{
    background: #b73f26;
}
#note_wrapper .note.success{
    background: #62bd33;
}
#note_wrapper .note.show{
    opacity: 1;
}