<footer>
    <div>לסיום: <span class="number">{{incompleteTasks}}</span></div>
    <div>הושלמו: <span class="number">{{completedTasks}}</span></div>
    <div>סה"כ: <span class="number">{{totalTasks}}</span></div>
</footer>